@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao FiscoSystem!</h1>
    <p>Seu app para pesquisa e correção tributária através do NCM (Nomenclatura Comum Do Mercosul).</p>
</div>

<div class="text-center">
    <img src="~/Imagens/RFB.png" class="rounded" height="300px" alt="Imagem responsiva" />
</div>
